body{
    background-color:rgb(221, 213, 193);
}
header{
    color: brown;
    border: 1px solid  brown;
    width: auto;
    height: auto;
    font-style: italic;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px  brown;
}
#fazıl{
    margin: 5px;
    border: 1px brown solid;
    float: left;
   
}
#fazılfoto{
    float: left;
    margin: 1px;

}
#fazıltext{
    font-style: italic;
    padding-left: 20px;
    text-align: left;
    color: brown;
  
}
#fazıltanim{
padding: 5px;
}

footer{
    margin: 5px;
    border: 1px solid brown;
    float: left;
    box-shadow: 5px 5px 5px 5px  brown;


}
#footerimg{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 110px;
    margin-right: 50px;
}

aside{
    border: 1px solid brown;
    display: inline-block;
    padding: 15px;
    margin: 5px;
}
#asidebaslik{
    color: brown;

}
